---
const { href, cta, rel, center, color, hover } = Astro.props
const fontClasses = cta
  ? 'font-cartridgeboldrough text-xl md:text-3xl lowercase'
  : 'font-rethink text-md'

const textAlign = center ? 'text-center' : ''
---

<a
  href={href}
  class={`bg-tn-mantle ${fontClasses} ${textAlign} ${color} ${hover} block rounded-xl shadow-xl border-tn-base/50 border-2 p-6 font-light transition-all duration-500 ease-in-out hover:brightness-110`}
  rel={rel}
>
  <slot />
</a>
