---
import siteConfig from '@/data/site-config'
import Meta from '@/components/structure/meta.astro'
import Styles from '@/components/structure/styles.astro'
import Favicons from '@/components/structure/favicons.astro'
import Rss from '@/components/structure/rss.astro'
import OpenGraph from '@/components/structure/open-graph.astro'

interface Props {
  title: string
  description: string
  url: string
}

const { title, description, url } = Astro.props
---

<Favicons />
<Styles />
<Meta {description} />
<OpenGraph {title} {description} {url} />
<Rss />
<title>{title} - {siteConfig.title}</title>
