---
import siteConfig from '@/data/site-config'
import Meta from '@/components/structure/meta.astro'
import Styles from '@/components/structure/styles.astro'
import Favicons from '@/components/structure/favicons.astro'

const { title } = Astro.props
---

<Favicons favicons={siteConfig.favicons} appletouch={siteConfig.appletouch} />
<Styles />
<Meta description={siteConfig.description} />
<title>{title} - {siteConfig.title}</title>
