---
import Meta from "./Meta.astro";
import Icons from "./Icons.astro";

const { content, site } = Astro.props;
---

<Meta description={site.description} themeColor={site.themeColor} />
<title>{content.title} | {site.title}</title>

<Icons favicons={site.favicons} />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=PT+Sans&display=swap"
  rel="stylesheet"
/>
