---
import siteConfig from '@/data/site-config'
---

<div class="mt-12">
  <ul class="grid gap-2 sm:grid-cols-2">
    {
      siteConfig.elsewhere.map((link) => (
        <li>
          <a
            href={link.url}
            rel="me"
            class="text-md bg-tn-mantle font-rethink text-tn-purple1 hover:text-tn-purple0 block rounded-lg p-6 font-light"
          >
            {link.name}
          </a>
        </li>
      ))
    }
    {
      siteConfig.social.map((link) => (
        <li>
          <a
            href={link.url}
            class="text-md bg-tn-mantle font-rethink text-tn-purple1 hover:text-tn-purple0 block rounded-lg p-6 font-light"
            rel="me"
            title={link.icon}
          >
            <i class={`fa-brands fa-${link.icon}`} />/{link.name}
          </a>
        </li>
      ))
    }
  </ul>
</div>
